@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

/* 
main-background  : #fcfcfc
card-backgorund  : #f5f5f5 
main-helper      : #4b4b4b
secondary        : #146d14 */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: calc(100vh - 2rem);
  margin: 0;
  background-color: #fcfcfc;
  background-image: url('./assets/images/jazmin-quaynor-8ioenvmof-I-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
